@font-face {
    font-family: "TT Lakes Regular";
    font-style: normal;
    src: url("./fonts/TTLakes-Regular.eot") format('embedded-opentype'),
    url("./fonts/TTLakes-Regular.ttf") format('ttf'),
    url("./fonts/TTLakes-Regular.woff") format('woff');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 320px;
    background: #F2F2F2;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.header{
    font-family: 'TT Lakes Regular';
    width: 100vw;
    height: 80px;
    padding: 16px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF 80%);
}

.container{
    display: flex;
    padding-top: 16px;
}

.container__wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.swiper-wrapper{
    margin-bottom: 40px;
    margin-left: 16px;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: #DDDDDD !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC !important;
}

.wrapper-2{
    display: none;
}

@media (min-width: 760px) {
    body{
        min-width: 768px;
        background: #F2F2F2;
    }

    .wrapper{
        display: none;
    }

    .wrapper-2{
        min-width: 768px;
        display: flex;
        flex-direction: column;
    }
    
    .container-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 100vw;
        margin-bottom: 24px;
    }
    .container__items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 224px;
        height: 72px;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        margin: 16px;
    }
    .container__items-2{
        display: none;
    }

    .hidden{
        transform: translateY(-15px);
        opacity: 0;
    }

    .show-more{
        display: flex;
        margin-left: 32px;
        font-family: 'TT Lakes Regular';
        font-weight: 700;
        transform: translateY(-125px);
    }

    .active{
        transform: translateY(0px);
        opacity: 1;
    }

    .rotate{
        transform: rotate(180deg);
        transition: .1s;
    }
    .arrow{
        margin-right: 16px;
    }
}

@media (min-width: 1115px) {
        body{
            min-width: 1120px;
            background: #F2F2F2;
        }
    
        .wrapper{
            display: none;
        }
    
        .wrapper-2{
            width: 100vw;
            display: flex;
            flex-direction: column;
        }
        
        .container-2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            min-width: 100vw;
            margin-bottom: 24px;
        }
        .container__items,
        .container__items-2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 224px;
            height: 72px;
            background-color: #FFFFFF;
            border: 1px solid #EAEAEA;
            border-radius: 6px;
            padding: 16px;
            margin: 16px;
        }
        
    
        .hidden{
            transform: translateY(-15px);
            opacity: 0;
        }
    
        .show-more{
            display: flex;
            margin-left: 32px;
            font-family: 'TT Lakes Regular';
            font-weight: 700;
            transform: translateY(-125px);
        }
    
        .active{
            transform: translateY(0px);
            opacity: 1;
        }
    
        .rotate{
            transform: rotate(180deg);
            transition: all .1s;
        }
        .arrow{
            margin-right: 16px;
        }
}

@media (min-width: 1530px) {
    body{
        min-width: 1120px;
        background: #F2F2F2;
    }

    .wrapper{
        display: none;
    }

    .wrapper-2{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    
    .container-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 100vw;
        margin-bottom: 24px;
    }
    .container__items,
    .container__items-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 224px;
        height: 72px;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        margin: 16px;
    }
    

    .hidden{
        transform: translateY(0);
        opacity: 1;
    }

    .show-more{
        display: none;
    }

    .active{
        opacity: 1;
    }
}